details {
	margin-bottom: 1rem;
}

details summary {
	font-weight: 700;
}

.card {
	margin-bottom: 1rem;
}

#map {
	height: 45vh !important;
	max-height: 45vh !important;
	width: 100%;
}

#intersects-results {
	max-height: 35vh !important;
	overflow: scroll !important;
}
